<h2>Index template</h2>

<table>
	<thead>
		<th>Album Name</th>
		<th>Description</th>
		<th></th>
	</thead>
	<tbody>
		{{#each}}
			<tr>
				<td>{{name}}</td>
				<td>{{description}}</td>
				<td></td>
			</tr>
		{{/each}}
	</tbody>
</table>